<!DOCTYPE html>
<html>
  <head>
    <link rel ="stylesheet" href="css/style.css">
    <!DOCTYPE html> 
<html> 
  <head> 
    <title>About Us</title> 
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title> Special Education  </title> 
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head> 
  <body>
    <div id="banner">
      <nav> 
      <ul id="navbar">
        <li class="titleandcat"><a href="//"> <h1 class="titleandcat">b a l a n c E D </h1></a></li> 
        <li class="titleandcat"><a href="/aboutus"><h4 class="titleandcat">ABOUT US</h4></a></li> 
       <li class="titleandcat"><a href="//"><h4 class="titleandcat">QUIZ</h4></a></li> 
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">HEALTH</h4></a></li>
        <li class="titleandcat"><a href="/specialeducation"><h4 class="titleandcat">SPECIAL ED</h4></a></li>
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">STUDY TIPS </h4></a></li> 
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">INSPO</h4></a></li>
      </ul>
     </nav>
    </div><br><br><br><br>
    
<center> <img class="about" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113997259920/medium/1533223827/enhance"> </center>
<center><h1> About Us</h1></center>

<center><h5>Meet Ceora</h5></center>
<center><p> Ceora Ford was born 8 July 2000 in Philadelphia, PA. She was raised in the Germantown area of Philadelphia and attended Academy at Palumbo in South Philadelphia. Her interests include all things art and all things tech. Her dream is to become a world-traveling web developer.</center>

</p>
<br>
<br>

<center> <img class="about" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113997259920/medium/1533223827/enhance"> </center>
<center><h5>Meet Kathleen</h5></center>
<center><p>Kathleen Eife was born on February 18, 2001 in Somerdale, New Jersey. She attends Paul VI High School, where she enjoys studying subjects such as chemistry and computer science. Kathleen is interested in the STEAM field, and is especially interested in pursuing Software Engineering as a career.</p></center>
<br>
<br>

<center> <img class="about" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113997259920/medium/1533223827/enhance"> </center>
<center><h5>Meet Katie</h5></center>
<center><p> Katie Schulz was born September 1, 2001 in Bloomington, Indiana, at age nine she moved to the suburbs of Philadelphia, Pennsylvania. This upcoming school year she will be going into her junior year of high school at Central Bucks West. 
</p></center>
<br>
<br>

<center> <img class="about" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113997259920/medium/1533223827/enhance"> </center>
<center><h5> Meet Hana</h5></center>
<center><p>Hana Memon is a rising junior at Noor Ul Iman School. She is an active member of her soccer and debate team as well as the head of the school magazine.  She currently resides in Yardley, PA with her family. Hana’s interests include disability research as her brother is deaf.</p></center>
<br>
<br>
</body>
</html>