<img class="about" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113997259920/medium/1533223827/enhance">
<h5>Meet Ceora</h5>
<p> Ceora Ford was born 8 July 2000 in Philadelphia, Pa. She was raised in the Germantown area of Philadelphia and attended Academy at Palumbo in South Philadelphia. Her interests include all things art and all things tech. Her dream is to become a world-traveling web developer.

</p>
<br>
<br>

<img class="about" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113997259920/medium/1533223827/enhance">
<h5>Meet Kathleen</h5>
<p> My name is Anum.  I’m 14 years old and I love potatoes.  Fries, chips, mashed; I love them all.  I also love calligraphy and do digital art.  At my school, I am part of Science Olympiad, Model UN, and MIST.  I love to read and my favorite books are the Percy Jackson series.  I also enjoy solving Rubik’s Cubes and other puzzles.  I love coding and my favorite language is Ruby.  I attended the Philadelphia Kode With Klossy Camp in 2018 and I absolutely loved it!</p>
<br>
<br>

<img class="about" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113997259920/medium/1533223827/enhance">
<h5>Meet Katie</h5>
<p> </p>
<br>
<br>

<img class="about" src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021046597450/media/113997259920/medium/1533223827/enhance">
<h5> Meet Hana</h5>
<p> My name is Anum.  I’m 14 years old and I love potatoes.  Fries, chips, mashed; I love them all.  I also love calligraphy and do digital art.  At my school, I am part of Science Olympiad, Model UN, and MIST.  I love to read and my favorite books are the Percy Jackson series.  I also enjoy solving Rubik’s Cubes and other puzzles.  I love coding and my favorite language is Ruby.  I attended the Philadelphia Kode With Klossy Camp in 2018 and I absolutely loved it!</p>
<br>
<br>