<!DOCTYPE html>
<html>
<form method="POST" action="/results">
  <p>Your Name: <input type="text" name="name"></p>
   <p>Single or double shot of espresso?: <input type="text" name="espresso"></p>
  <p>what type of milk: <input type="text" name="milk"></p>
  <p> how many packets of sugar does you want? <input type="text" name= "sugar"></p>
  
  <input type="submit">
</form>
</html>